<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

h1{
color:#DB7272;
font-size: 72px;
text-shadow:#F0F0F0 1px 2px 2px;
}

b {
color:#DB7272;
}

.content {
position: fixed;
text-align: center;
margin-top: 5%;
margin-left: 25%;
width: 50%;
}


body {
text-align: center;
background-image: url("subtle_dots.png");
color: #525657;}

img {
width: 200px;
height: 200px;
transition: opacity 0.2s linear;
padding: 5px;
border: solid 1px #D6D6D6;
box-shadow: 1px 1px 3px #C2C2C2;
} 

img:hover{
opacity:0.8;}

#descriptionbox{
width: 25%;
text-align: center;
color: #525657;
float: left;
}

#navbox {
margin-left: 28%;
text-align: center;
width: 19%;	
float: left;
}

a {
text-decoration: none;
color: white;}

nav a {
display: block;
margin:5px;
background-color: #DB7272;
width: 200px;
height: 20px;
font-size: 9px;
color: #FFFFFF;
text-decoration:none;
text-transform: uppercase;
text-align: center;
line-height: 20px;
border-radius: 2em 5em 2em 5em;
box-shadow: 1px 1px 3px #C2C2C2;
-webkit-transition: all 0.5s ease-in-out;
}

nav a:hover{
background-color:#F0A3A3;}
